a {
  text-transform: uppercase;

}



button {
  border: none;
  background: none;
  color: inherit;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: #FADE4B;
    text-shadow: 0 0 2px #FFF;
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .burger_menu,
  .close_menu {
    display: none;
    position: absolute;
    left: 24px;
    width: 24px;
    height: 24px;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    .line1,
    .line2,
    .line3 {
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 4px;
    }
  }

  .close_menu {
    display: none;

    .line1,
    .line2 {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 4px;
      top: 50%;
      left: 50%;
      transform-origin: center;
    }

    .line1 {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .line2 {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .logo {
    width: fit-content;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
  }

  .logo2 {
    aspect-ratio: 312/32;
    margin: 16px;
    display: none;

    & img {
      max-width: 200%;
      width: 30vw;
      height: 100%;
      transition: width 0.1s ease-in-out;
    }
  }

  img {
    width: 200px;
    height: 200px;
  }
}

.auth {
  position: absolute;
  right: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.authLink {
  font-size: clamp(14px, 1.5vw, 18px);

  &:hover {
    cursor: pointer;
    text-shadow: 0 0 1px rgba(250, 222, 75, 1);
    color: #FADE4B;
  }
}

.auth-mobile {
  width: 100%;
  display: none;
  flex-direction: column;

}

.authLink-mobile {
  font-size: clamp(14px, 1.5vw, 24px);
  margin-top: 16px;
  padding: 4px 8px !important;

  &:hover {
    cursor: pointer;
    text-shadow: 0 0 1px rgba(250, 222, 75, 1);
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--quaternary-color) 2px solid;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 1;

  a {
    padding: 8px 16px;
    border-bottom: 2px solid transparent;

    &.active {
      color: #fff;
      border-bottom: 2px solid #FADE4B;
    }

    &.disabled {
      color: rgba(255, 255, 255, 0.6);
      cursor: not-allowed;
    }
  }

  &.open {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 56px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1000000;

    a {
      padding: 16px 8px;
      width: 100%;
    }


  }
}

@media screen and (max-width: 800px) {
  header {
    .logo {
      display: none;
    }

    .logo2 {
      display: block;
    }

    .active {
      display: flex;
    }


  }

  nav {
    display: none;

    &.open {
      display: flex;
    }

    & a {
      &:hover {
        cursor: pointer;
        text-shadow: 0 0 1px rgba(250, 222, 75, 1);

      }
    }
  }

  .auth {
    right: 24px;
    gap: 8px;
  }

  .auth-mobile {
    display: flex;
  }
}
