<header>
  <div class="burger_menu" [ngClass]="!menuOpen ? 'active' : null" (click)="toggleMenu()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

  <div class="close_menu" [ngClass]="menuOpen ? 'active' : null" (click)="toggleMenu()">
    <div class="line1"></div>
    <div class="line2"></div>
  </div>
  <div class="logo">
    <img src="assets/star_wars.svg" alt="Star Wars logo" />
  </div>
  <div class="logo2">
    <img src="assets/star_wars2.png" alt="Star Wars logo plain" />
  </div>
  <section class="auth">
    @if(!authService.isLogged()){
    <a href="login" class="authLink" (click)="onLogin()">Log in</a>
    <a href="register" class="authLink" (click)="onRegister()">Sign up</a>
    }
    @else {
    <button class="authLink" (click)="onLogout()">Logout</button>
    }
  </section>
</header>

<nav [ngClass]="{'open': menuOpen}">
  <a class="navLink" routerLink="/" [ngClass]="{'active': navbarService.currentUrl() === '/'}">Home</a>
  <a class="navLink" routerLink="/starships"
    [ngClass]="{'active': navbarService.currentUrl() === '/starships', 'disabled': !authService.isLoggedIn()}"
    (click)="onSelectStarship(null)">Starships</a>
  <a class="navLink" href="#">NEWS + FEATURES</a>
  <a class="navLink" href="#">VIDEO</a>
  <a class="navLink" href="#">FILMS</a>
  <a class="navLink" href="#">DATABANK</a>
  <a class="navLink" href="#">DISNEY+</a>

  <section class="auth-mobile">
    <div class="divider"></div>
    @if(!authService.isLogged()){
    <a href="login" class="authLink-mobile" (click)="onLogin()">Log in</a>
    <a href="register" class="authLink-mobile" (click)="onRegister()">Sign up</a>
    }
    @else {
    <button class="authLink-mobile" (click)="onLogout()">Logout</button>
    }
  </section>
</nav>
