<article class="starship">
  <div class="innerContainer">
    <h3>STARSHIP</h3>
    <section class="starshipBanner">

      <img src={{starship.imgUrl}} alt={{starship.name}} />

      <article class="starshipCard">
        <h4 class="starshipCard__name">{{starship.name}}</h4>

        <section class="starshipCard__details">
          <div class="starshipCard__details__section">
            <p><span>Model: </span>{{starship.model}}</p>
            <p><span>Cost in credits: </span>{{starship.cost_in_credits}}</p>
            <p><span>Atmospheric Speed: </span>{{starship.max_atmosphering_speed}}</p>
            <p><span>Passengers: </span>{{starship.passengers}}</p>
            <p><span>Consumables: </span>{{starship.consumables}}</p>
            <p><span>MGLT: </span>{{starship.MGLT}}</p>
            <!-- <p><span>Pilots: </span>{{starship.pilots}}</p> -->
            <p><span>Created: </span>{{starship.created}}</p>
          </div>
          <div class="starshipCard__details__section">
            <p><span>Manufaturer: </span>{{starship.manufacturer}}</p>
            <p><span>Length: </span>{{starship.length}}</p>
            <p><span>Crew: </span>{{starship.crew}}</p>
            <p><span>Cargo Capacity: </span>{{starship.cargo_capacity}}</p>
            <p><span>Hyperdrive Rating: </span>{{starship.hyperdrive_rating}}</p>
            <p><span>Starship Class: </span>{{starship.starship_class}}</p>
            <!-- <p><span>Films: </span>{{starship.films}}</p> -->
            <p><span>Edited: </span>{{starship.edited}}</p>


          </div>

        </section>
      </article>
    </section>
  </div>
</article>
