/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'DINNext';
  src: url('assets/fonts/DINNextW1G-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINNext';
  src: url('assets/fonts/DINNextW1G-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINNext';
  src: url('assets/fonts/DINNextW1G-Light.otf') format('otf');
  font-weight: lighter;
  font-style: normal;
}

:root {
  --primary-color: #6C6C6C;
  --secondary-color: #0A0B0B;
  --tertiary-color: #F0F0F0;
  --quaternary-color: #151515;

  --blue: #2461B5;
  --grey: #22252A;

  --primary-color-rgb: 108, 108, 108;
  --secondary-color-rgb: 10, 11, 11;
  --tertiary-color-rgb: 240, 240, 240;
  --quaternary-color-rgb: 21, 21, 21;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'DINNext', sans-serif;
  background-color: var(--secondary-color);
  color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'DINNext', sans-serif;

}

p {
  margin: 0;
  padding: 0;
  font-family: 'DINNext', sans-serif;

}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
