<article class="home">
  <article class="principalBanner">
    <img class="principalBanner__img"
      src="https://lumiere-a.akamaihd.net/v1/images/phantom-menace-ferguson-onesheet-final-empirestrap_arti_e95a79c8.jpeg?region=0,0,1600,900"
      alt="Phantom menace in the Empire Strip" />
    <section class="info">
      <h1 class="info__title">Phantom Menace Returns to Theaters</h1>
      <p class="info__description">The tickets are available for purchase on the official website.</p>
      <button class="info__btn info__btn--readMore">Read More</button>
      <button class="info__btn info__btn--interveiew">Interview</button>
    </section>
  </article>
</article>
